#slideshow { 
   height: 700px; /* Update to your slider height */
  position: relative;
  overflow: hidden; 
}

#slideshow > div { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%;
  background-size: cover !important;
  height: 700px;
  z-index: -999;
}

body {

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    color: #333333;
    margin: 0;
    padding: 0;
}

#slide-1 {
	background: url("images/drsinai.jpg") no-repeat;
}

#slide-2 {
	background: url("images/office-pic2.jpg") no-repeat;
}

#slide-3 {
	background: url("images/danny-patient.jpg") no-repeat;
}

#slide-4 {
  background: url("images/neurons-resized.jpg") no-repeat;
}

#left-arrow {
  width: 20px;
}

#right-arrow {
 width: 20px;
}

.arrow-div-1{
    position: absolute;
    background: #333;
    top: -400px;
    padding: 10px;
    border-radius: 3px;
    margin-left: 30px;
    opacity: .1;
}

.arrow-div-2{
    position: absolute;
    background: #333;
    top: -400px;
    left: 890px;
    padding: 10px;
    border-radius: 3px;
    opacity: .1;
}

.slider:hover .show{
  display: block;
}

.show:hover {
  opacity: 1;
}

.show-me {
	display: block !important;
}

.clear {
  clear: both;
}