*{text-decoration: none; max-width: 100%; margin: 0; padding: 0;}
html,body{margin: 0; padding: 0; font-family: quicksand; font-size: 16px; color: #6d6e71; letter-spacing: .8px;}
img{border: none; vertical-align: middle;}
u{text-decoration: underline;}
s{text-decoration: line-through;}
i{font-style: italic;}
b{font-weight: bold;}
a:link, a:visited, a:active{text-decoration: none; color: inherit;}
.Fright{float: right; display: table;}
.Fleft{float: left; display: table;}
.clear{clear: both;}
.container{width: 1100px; margin: auto;}
.margin25{margin: 25px 0;}
.margin20{margin: 20px 0;}
.margin30{margin: 30px auto;}
.marright5{margin-right: 5px;}
.marleft25{margin-left: 25px;}
.martop10{margin-top: 10px;}
.martop25{margin-top: 25px;}
.martop20{margin-top: 20px;}
.martop55{margin-top: 55px !important;}
.marbot5{margin-bottom: 5px;}
.marbot25{margin-bottom: 25px;}
.marbot10{margin-bottom: 10px;}
.marbot40{margin-bottom: 40px;}
.marg1055{margin: 10px 0 55px;}
.negmarbot30{margin-bottom: -30px;}
.align-left{text-align: left;}
.font12{font-size: 12px;}
.font45{font-size: 45px;}
.font25{font-size: 25px;}
.font15{font-size: 15px;}
.font21{font-size: 21px;}
.font65{font-size: 65px;}
.inline{display: inline;}
.inline-block{display: inline-block;}
.uppercase{text-transform: uppercase;}
.center{text-align: center;}
.site-color{color:  #6d6e71;}
.relative{position: relative;}
.hidden{display: none;}
.padmobile{padding: 0 15px;}
.white{color: #fff;}
