body{background-color: lightblue; font-size:17px; padding: 0; margin: 0;}

.tabbed_box {
    width: 960px;
    margin: auto;
}

.tabbed_box h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:34px;
    color:#ffffff;
    letter-spacing:-1px;
    margin-bottom:10px;
    text-align: center;
}

.tabbed_box h4 small {
    color:#e3e9ec;
    font-weight:normal;
    font-size: 17px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    position:relative;
    top:-4px;
    left:6px;
    letter-spacing:0px;
}

.tabbed_area {
    border:1px solid #494e52;
    background-color:#636d76;
    padding:8px;    
}

ul.tabs {
    margin:0px; padding:0px;
}
ul.tabs li {
    list-style:none;
    display:inline;
}

ul.tabs li a {
    background-color:#464c54;
    color:lightblue;
    padding:8px 14px 8px 14px;
    text-decoration:none;
    font-size:15px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    border:1px solid #464c54; 
    background-image:url("images/tab_off.jpg");
    background-repeat:repeat-x;  
    background-position:bottom;
}

ul.tabs li a:hover {
    background-color:#efefef;
    background-image: none;
}

ul.tabs li a.active {
    background-color:#ffffff;
    color:#282e32;
    border:1px solid #464c54; 
    border-bottom: 1px solid #ffffff;
    background-image:url("images/tab_on.jpg");
    background-repeat:repeat-x;
    background-position:top; 
}

.content {
    background-color:#ffffff;
    padding:10px 0;
    border:1px solid #464c54;  
    background-image:url("images/content_bottom.jpg");
    background-repeat:repeat-x;  
    background-position:bottom;  
    height: 85vh;
}

#content_2, #content_3, #content_4 { display:none;}

ul.tabs {
    margin:0px; padding:0px;
    margin-top:5px;
    margin-bottom:7px;
}

.content ul {
    margin:0px;
    padding:0px;
}

.content ul li {
    list-style:none;
    border-bottom:1px solid #d6dde0;
    padding-top:15px;
    padding-bottom:15px;
    font-size:17px;
}

.content ul li a {
    text-decoration:none;
    color:#3e4346;
    padding:0px 20px 0px 20px;
}

.content ul li a small {
    color:#8b959c;
    font-size:9px;
    text-transform:uppercase;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    position:relative;
    left:4px;
    top:0px;
}

.content ul li:last-child {
    border-bottom:none;
}

.content ul li:hover {
    background-color: #efefef;
}

footer{background-color: red; border-top: 2px solid black; text-align: center; padding: 20px 0; color: #fff;}