*{text-decoration: none; max-width: 100%; margin: 0; padding: 0;}
html,body{margin: 0; padding: 0; font-family: 'Roboto', sans-serif; color: #47a3f2; font-size: 20px; letter-spacing: .5px; background: #fff;}
img{border: none;}
li{list-style-type: none;}
div{display: block; margin: 0; padding: 0; box-sizing: border-box;}
u{text-decoration: underline;}
s{text-decoration: line-through;}
i{font-style: italic;}
b{font-weight: bold;}
a:link, a:visited, a:active{text-decoration: none; color: inherit;}
.Fright{float: right;}
.Fleft{float: left;}
.clear{clear: both;}
.container{width: 100%; margin: auto; background: #fff; max-width: 1024px;}
.align-left{text-align: left;}
.inline{display: inline;}
.inline-block{display: inline-block;}
.uppercase{text-transform: uppercase;}
.center{text-align: center !important;}
.relative{position: relative;}
.hidden{display: none;}
.padmobile{padding: 0 15px;}
.white{color: #fff;}
.yellow{color: #fcfe1f;}
.blue{color: #47a3f2;}
.red{color: #fe0000;}
.green{color: #00bc04;}
.marg30{margin: 30px 0;}
.pad30{padding: 30px;}
.pad20{padding: 20px;}
.font17{font-size: 17px;}
.row{margin: 0 15px;}
.gold{color: #f6c682;}
.cursor{cursor: pointer;}

header{box-shadow: 0 0 15px #e4e5e2; position: relative; z-index: 100;}
header .container{padding: 15px 0;}
header img{width: 70px; vertical-align: middle; margin-right: 20px;}
.logo-text{display: inline-block; font-size: 30px; font-weight: bold;}

/*  shared css on pages  */
.title-image{width: 60px; margin-right: 10px; margin-bottom: -15px;}
.info-p p{color: #333; margin-top: 20px; text-align: left; line-height: 1.5;}
.transition{transform: rotate(90deg); transition-timing-function: ease-in;}
.info-box{margin-top: 30px;}
h2{font-size: 23px; text-align: left;}
.svg-icon{width: 40px; margin-bottom: -10px;}
.big-letter{float: left; font-size: 60px; margin-right: 5px; margin-bottom: -10px; line-height: 1;}
.quote{color: #47a3f2 !important; text-align: center !important; font-size: 1.5em; line-height: 1.2 !important; font-style: italic;}
.quote-left{width: 30px; margin-right: 15px;}
.quote-right{width: 30px; margin-left: 15px;}

/*	social share css */
.social-share{text-align: center; max-width: 240px; margin: 30px auto 0; padding: 10px; padding-bottom: 5px; border: 1px solid #333;}
.icons{width: 25px;}
.button-icons{border: 0; outline: 0; margin: 0 15px; display: inline-block;}
#email-icon{width: 28px;}
.hvr-grow-shadow{display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: box-shadow, transform; transition-property: box-shadow, transform;}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active{box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); -webkit-transform: scale(1.1); transform: scale(1.1);}

#previous-next{margin: 30px auto;}
.grey-small{font-size: 12px; color: #c1c1c1; margin-bottom: 7px !important;}
.next-links{font-size: 14px;}
.next-links:hover{color: #3377d6;}
.grey-right{text-align: right;}

/*	scroll to top arrow css */
.cd-top {display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); margin-bottom: 30px; z-index: 100;
         overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(71, 163, 242, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%; visibility: hidden; opacity: 0;
		 -webkit-transition: opacity .3s 0s, visibility 0s .3s;
		 -moz-transition: opacity .3s 0s, visibility 0s .3s;
		 transition: opacity .3s 0s, visibility 0s .3s;}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
		 -webkit-transition: opacity .3s 0s, visibility 0s 0s;
		 -moz-transition: opacity .3s 0s, visibility 0s 0s;
		 transition: opacity .3s 0s, visibility 0s 0s;}
.cd-top.cd-is-visible {visibility: visible;opacity: 1;}
.no-touch .cd-top:hover {background-color: #47a3f2 ;opacity: 1;}

footer{padding: 30px 0; font-size: 12px; color: #333; border-top: 1px solid; margin-top: 40px;}

@media only screen and (max-width: 960px) {
	.mobile-center{text-align: center;}
	.mobile-display-block{display: block;}
	.Fleft, .Fright{float: none;}
	.previous-article{margin-bottom: 25px;}
	.grey-right{text-align: center;}
	header{padding-left: 10px;}
}