<footer>
	<div class="container">
		<p>&copy; Copyright <span id="date"></span> Grown American<sup>&trade;</sup>, LLC - All rights Reserved</p>
		<p class="marg20"><a href="http://www.grownamericansuperfood.com/terms.html" class="footer-link">Privacy Policy</a> | <a href="http://www.grownamericansuperfood.com/privacy.html" class="footer-link">Terms &amp; Conditions</a></p>
		<div class="disclaimer">
			<p>The Statements on our website have not been evaluated by the FDA (U.S. Food &amp; Drug Administration). These products are not intended to diagnose, treat, cure or prevent any disease.</p>
		</div>	
	</div>
</footer>