*{margin: 0; padding: 0; max-width: 100%; -webkit-backface-visibility: hidden;}
body{font-size: 19px; font-weight: 300; background-color: #fff;  color: #000; font-family: 'Open Sans', sans-serif; letter-spacing: .5px;}
li{list-style-type: none;}
div{display: block; margin: 0; padding: 0; box-sizing: border-box;}
img{border: 0;}
.container{margin: auto; padding: 0; width: 960px;}
.clear{clear: both; height: 1px; line-height: 1px; margin-bottom: -1px; overflow: hidden;}
.Lfloat{float: left;}
.Rfloat{float: right;}
a:link, a:visited, a:active{text-decoration: none; color: inherit;}

header{padding: 20px 0; border-bottom: 1px solid; margin-bottom: 50px;}
header .container{text-align: center;}
.header-p{font-size: 2.5em; display: inline-block; vertical-align: 8px; font-weight: bold;}

.subject{font-size: 2em; margin-bottom: 20px; color: blue; font-style: italic;}
.example-div{display: inline-block; padding: 10px 25px; background: #fbfaf8; font-size: 19px; border: 1px solid #ccc;
				  	 white-space: pre-line; margin-bottom: 13px; line-height: 1.7;}
.example-div p, .openMe p{margin-bottom: 13px;}

.token{color: #07a;}
.keyword{color: #DD4A68;}
.integer{color: #990055;}
.comment{color: #b4b4b4;}
.string{color: #669900;}

.method-title{font-weight: bold; cursor: pointer; border-bottom: 2px solid; display: inline-block; 
					  padding-bottom: 1px; margin-bottom: 15px; color: blue; font-size: 1.5em;}
.method-div{margin-bottom: 25px;}
.display{display: inline-block;}
.martop15{margin-top: 15px;}
.string-color{color: #690;}
.ab-list{margin-left: 28px; margin-top: 10px;}
.ab-list li{list-style-type: upper-alpha !important;}
.one-two-list{margin-left: 20px;}
.one-two-list a{color: blue; text-decoration: underline;}
.one-two-list li{list-style-type: decimal; margin-bottom: 10px;}

@media (max-width: 980px) {
	.container{width: auto; padding: 0 15px 0 20px;}
	.header-p, .subject{font-size: 1.2em;}
	body{word-break: break-word;}
	}
